# LocalStack
.localstack

# Terraform
/terraform/**/.terraform
/terraform/**/terraform.tfstate.backup
/terraform/**/*.tfstate.lock.info
/terraform/**/terraform.tfstate
/terraform/production/terraform.tfvars
